* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-primary: 'Roboto', sans-serif;
    --txt-primary: #fff;
    --txt-placeholder: #7C7C8A;
    --background-color: #000;
    --background-input: #06181C;;
    --background-btn: #065E7C;
    --background-tr-odd: rgba(6, 22, 27, 0.50);
    --borde-table: #4A808C;
    --background-th: #043444;
    --txt-table: #E1E1E6;
    --txt--table-button: #F75A68;
    --txt-no-favorites: #4E5455;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body, input, button, a{
    font-family: var(--font-primary);
}

body {
    font-size: 1.6rem;
    color: var(--color-txt-primary);
    background-color: #000;
}

#app {
    padding: 5.5rem 16rem 0 16rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__input {
    color: var(--txt-primary);
    border: none;
    padding: 1.6rem;
    width: 46.2rem;
    border-radius: .5rem;
    background-color: var(--background-input);
}

.header__input::placeholder {
    color: var(--txt-placeholder);
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

.input-wrap {
    display: flex;
    gap: .8rem
}

.header__button {
    width: 17rem;
    height: 4.8rem;
    padding: 1.2rem 3.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    border-radius: .5rem;
    background-color: var(--background-btn);
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.table {
    margin-top: 5.7rem;
    border: 1px solid var(--borde-table);
    color: var(--txt-primary);
    width: 100%;
    border-collapse: collapse;
}

.table__thead th{
    padding: 1.6rem 4rem;
    background-color: var(--background-th);
    text-align: left;
    color: var(--txt-table);
    font-size: 1.8rem;
    font-weight: 700;
}

.table tbody tr td {
    padding: 1.6rem 4rem;
}

.table tbody tr:nth-child(odd) {
    background-color: var(--background-tr-odd);
}

.table tbody tr:nth-child(even) {
    background-color: var(--background-input);
    border: 1px solid var(--borde-table);
}

.table__tdUser {
    display: flex;
    align-items: center;
    gap: 1rem
}

.table__tdUser img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.table__tdUser a {
    text-decoration: none;
    color: var(--txt-table);
}

.table__tdUser a div p {
    font-weight: 700;
    color: var(--txt-table);
}

.table__tdUser a div sppan {
    font-weight: 400;
    color: var(--txt-table)
}

.table__tdRepos {
    font-weight: 700;
}

.table__tdFollew {
    font-weight: 700;
}

.table__tdBtn {
    font-weight: 700;
    color: var(--txt--table-button);
    cursor: pointer;
}

.no-favorites {
    color: var(--txt-primary);
    background-color: var(--background-input);
    height: 42.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    border-bottom: 1px solid var(--borde-table);
    border-left: 1px solid var(--borde-table);
    border-right: 1px solid var(--borde-table);
}

.no-favorites.no-favorites-disable{
    display: none;
}

.no-favorites.no-favorites-active{
    display: flex;
}

.no-favorites p {
    color: var(--txt-no-favorites);
    font-size: 4rem;
    font-weight: 700;
}