* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --menu-text-color: #C4C4CC;
    --menu-text-color-hv: #fff;
    --title-color: #E1E1E6;
}

body, a, button {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    background-image: url('../imgs/background-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
}

a {
    color: var(--menu-text-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
}

a:hover {
    color: var(--menu-text-color-hv);
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0 4rem 7rem;
}

#app {
    height: calc(100vh - 122px);
}

/* Estilos da página home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.home h1 {
    color: var(--title-color);
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.home button {
    border: 2px solid white;
    border-radius: .5rem;
    background-color: transparent;
    padding: 1.2rem 3.2rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

/* Demais páginas */
.conteiner {
    padding: 6.3rem 0 0 10.2rem;
    width: 75rem; 
}

.conteiner h2 {
    color: var(--title-color);
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.conteiner p {
    color: var(--title-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}