* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal { 
    height: 370px;
    background-color: #000;
    color: white;
}

.principal__text {
    width: 736px;
    margin: auto;
    padding-top: 80px
}

.principal__text h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 36px;
    width: 319px;
    margin-bottom: 24px;
}

.principal__text p {
    font-family: 'Poppins', sans-serif;
    color: #42D3FF;
    font-weight: 400;
    width: 283px;
}

.secundaria {
    background-color: #d9d9d9;
}

.forms {
    background-color: white;
    width: 736px;
    margin: auto;
    transform: translateY(-100px);
    padding: 64px;
    border-radius: 8px 8px 0px 0px;
}

.forms h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    border-bottom: 1px solid #b7b7be;
    padding-bottom: 16px;
}

.forms label, .forms input {
    display: block;
}

.forms label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4E4958;
    margin-bottom: 8px;
}

label span {
    display: inline-block;
    margin-left: 12px;
    color: #C1BCCC;
    font-size: 12px;
    font-weight: 400;
}

label span:hover {
    color: #57545d;
}

.forms input, .forms textarea, .forms select {
    width: 100%;
    border-radius: 8px;
    height: 56px;
    border: 1px solid var(--back-lines-in-white, #b7b7be);
    margin-bottom: 24px;
    background-color: white;
}

.forms textarea {
    height: 168px;
}

.forms select {
    font-family: 'Poppins', sans-serif;
    color: var(--texts-inputs, #948f9f);
    padding: 15px 24px;
}

.conteiner {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    gap: 16px;
}

#evento {
    width: 24px;
    height: 24px;
}

#evento + label {
    margin-top: 3px;
}

.conteiner2 {
    display: flex;
    gap: 20px;
}

label[for='data'] {
    margin-right: 152px;
}

label[for='hora_das'] {
    margin-right: 100px;
}

#data {
    width: 312px;
}

#hora_das, #hora_ate {
    width: 128px;
}

.forms__submit {
    background-color: #F0F0F4;
    transform: translateY(-100px);
    width: 736px;
    margin: auto;
    text-align: center;
    padding: 40px 40px;
    border-radius: 0px 0px 8px 8px;
}

.forms__submit input {
    width: 528px;
    background-color: #04D361;
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 600;
}