* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-blue: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    --txt-blue: #34355B;
    --txt-gray: rgba(52, 53, 91, 0.8);
    --bg-iris: #7879F1;
}

body {
    font-family: 'DM Sans', sans-serif;
    height: 100vh;
    font-size: 1.6rem;
    background-image: var(--bg-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.main {
    width: 43rem;
    height: 27rem;
    background-color: #fff;
    border-radius: 6px;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    text-align: center;
}

/* Screen 1 */

.main__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--txt-blue);
    margin-bottom: 1.6rem;
}

.main__text {
    font-size: 1.6rem;
    color: var(--txt-gray);
    margin-bottom: 4.8rem;
}

.main label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.main_attempts {
    background-color: #DCE2E9;
    border: none;
    width: 4rem;
    height: 5rem;
    border-radius: .4rem 0 0 .4rem;
    padding: 1.6rem;
    font-size: 1.6rem;
}

.main__btn {
    width: 8rem;
    height: 5rem;
    border-radius: 0 .4rem .4rem 0;
    background-color: var(--bg-iris);
    padding: 1.6rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: -4px;
    cursor: pointer;
}

/* Screen 2 */
.main__closed {
    color: var(--txt-blue);
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.screen2 .main__btn {
    width: 16.6rem;
    border-radius: .4rem;
}