* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    font-size: 1.6rem;
}

main {
    max-width: 33rem;
    margin: 3.5rem auto;
}

.main__title {
    color: #A54328;
    font-size: 2.9rem;
    font-weight: 700;
}

.main__bolo {
    margin: 4.7rem 0;
    width: 31rem;
}

.main__paragrafo {
    color: #A54328;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 34px;
}

.preparo {
    color: #A54328;
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 37px;
}

.preparo__lista {
    color: #A54328;
    font-size: 1.5rem;
    font-weight: 400;
    list-style-position: inside;
    margin-bottom: 27px;
}

.preparo__lista p {
    font-weight: bold;
}

.preparo__button {
    background-color: #A54328;
    color: white;
    border-radius: 6px;
    padding: 0.8rem 1.6rem;
    border: none;
}

@media screen and (min-width: 1000px) {
    body {
        background-image: url('/src/img/background.jpeg');
        background-repeat: no-repeat;
    }

    .main {
        display: flex;
        gap: 18.9rem;
        max-width: 114.9rem;
        margin: 7.5rem 10rem
    }

    .col-2 {
        width: 100%;
    }

    .main__title {
        font-size: 4.0rem;
    }

    .main__paragrafo {
        font-size: 2.0rem;
    }

    .preparo {
        font-size: 4.0rem;
    }

    .preparo__lista {
        font-size: 2.0rem;
    }

    .preparo__button {
        font-size: 1.4rem;
    }
}